.vagrant
macos-sonoma.conf
macos-sonoma/
Vagrantfile
Session.vim
.idea
.venv
venv
.vagrant
*/__pycache__/*
examples/*
!examples/greenlab-llm-local/
!examples/greenlab-llm-local/**
**/__pycache__/
*/.DS_Store
.DS_Store
.vscode
.python-version
tmp/
_trial_temp/
pycharm-interpreter.sh
python
Session.vim
Vagrantfile

__MACOSX/
